.nav-list {
  width: 80%;
  display: flex;
  justify-self: right;
  align-content: center;
  justify-content: right;
}
/* flex */
.nav-section {
  display: flex;
  width: max-content;
  padding: 12px 0 12px 0px;
  align-content: center;
  justify-content: left;
}
.nav-section a {
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-left: 8px;
}
.rightnav {
  width: 30%;
  text-align: right;
}
/* .nav-list li a:hover {
  color: #1ea0ff;
} */
.nav-list li a {
  text-decoration: none;
  align-items: center;
  transition-duration: 200ms;
}
.nav-list li {
  list-style: none;
  padding: 26px 30px;
}
.nav-list li {
  list-style: none;
  padding: 16px 30px;
}

.nav-list li a {
  text-decoration: none;
  align-items: center;
  transition-duration: 200ms;
}

.rightnav {
  width: 30%;
  text-align: right;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 9px;
}

/* .navbar {
	justify-self: center;
    position: -webkit-sticky;
	display: flex;
	align-items: center;
	justify-content: left;
	position: sticky;
	top: 0;
	width: 80%;
	margin: auto;
} */

/* .navbar {
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: auto;
  align-items: center;
} */

.logo-hima-navbar {
  align-self: start;
  cursor: pointer;
}

/* .nav-background {
  background-image: url("./assets/footer-asset.png");
	background-repeat: no-repeat;
	background-position: right; 
	background-color: #FFFDF4;
	opacity: .6;
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 100;
} */
